html,
body {
    height: 100%;
}

.container {
    height: 100%;
}

#author {
    text-align: right;
}

footer {
    padding-bottom: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
footer a {
    color: white;
}
