html {
    background-color: rgba(0, 0, 0, 0.616);
    font-family: "Segoe UI", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#display {
    background-color: white;
    border-radius: 4px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    width: 400px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#display h1 {
    width: 100%;
    text-align: center;
    line-height: 1.2;
    font-size: 2.5rem;
    margin: 0.5rem;
}

.drum-pad {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 4px;
}

.drum-pad.active {
    opacity: 0.8;
    transform: scale(0.99);
}

.drum-pad:hover {
    opacity: 0.8;
}
