html {
    background: #c31432;
    background: -webkit-linear-gradient(
        to right,
        #c31432,
        #240b36
    ); 
    background: linear-gradient(
        to right,
        #c31432,
        #240b36
    ); 
    font-family: "Segoe UI";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-align: center;
}

#clock {
    width: 32rem;
    display: flex;
    flex-wrap: wrap;
}

#session,
#break {
    width: 14rem;
    margin: 1rem;
}
#timer {
    width: 32rem;
    border: 2px solid white;
    border-radius: 10px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    border: 0;
}

.flex p {
    font-size: 40px;
    margin: 0 10px;
    width: 50px;
}

#timer-label {
    font-size: 40px;
    margin: 10px;
}

#time-left {
    font-size: 50px;
    margin: 10px;
}

h2 {
    margin: 0;
}